<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head>
<title>Hello Velocity!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>All the owners in the system</h1>
	<p>$greeting</p>
	
<h2>Add a new owner</h2>
	<form action="processForm" method="post">
		Name: <input type="text" name="name" />
		Email: <input type="email" name="emailAddress" />
		<input type="submit" />
	</form>
	
<h2>Add a new animal for an owner</h2>
<form action="#" th:action="@{/addAnimal}"  th:object="${newanimal}" method="post">
		Name: <input type="text" th:field="*{name}" />
		Type: <input type="text" th:field="*{type}" />
		DoB: <input type="date" th:field="*{dob}" />
	 	Owner: <select th:field="*{ownerID}">
 				 <option th:each="owner : ${Owners}" 
          				th:value="${owner.ownerID}" 
          				th:text="${owner.name}">Wireframe</option>
			</select> 
		<input type="submit" value = "Submit" />
	</form>

<h2>Data Store details</h2>
	#foreach($owner in $Owners)
	<div>
		<h2>${owner.ownerID}:${owner.name}</h2>
		<h3>
			Email: <span>${owner.emailAddress}</span>
		</h3>
		<p>Animals</p>
		#foreach($animal in $owner.animals)
		<ul>
			<li>
				${animal.name}, ${animal.dob}, ${animal.type}</li>
		</ul>
		#end
	</div>
	#end


</body>
</html>
